* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    gap: 10px;
}

section {
  border: 3px solid gray;
  border-radius: 10px;
  display: flex;
  flex-basis: 250px;
  flex-grow: 1;
  flex-direction: column;
}

ul {
  margin: 30px;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  background-color: rgb(75, 71, 71);
  padding: 10px;
  color: #fff;
}

h3 {
  margin: 20px;
  color: #fff;
  background-color: green;
  padding: 3px;
  border-radius: 4px;
}
.salario {
    display: flex;
    align-items: center;
}

section:nth-child(2) {
    h2 {
        background-color: rgb(2, 254, 99);
    }
}

section:nth-child(3) {
    h2 {
        background-color: blueviolet;
    }
}
